name: Java CI

on: [push, pull_request]
 # The "Build with Maven" step runs the Maven package target in non-interactive mode to
 # ensure that your code builds, tests pass, and a package can be created.
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
